config.stopBubbling = true
lombok.getter.noIsPrefix = true
lombok.addNullAnnotations = spring
lombok.addLombokGeneratedAnnotation = false
lombok.extern.findbugs.addSuppressFBWarnings = false
lombok.nonNull.exceptionType = IllegalArgumentException
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
